<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gypsy Kitchen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<h3>Display Customer Orders</h3>

	<br></br>

	<br></br>
	<div style="width: 80%; margin: 0 auto;">
		
					<table style="width: 800px">
						<thead>
							<tr>
								<th>Order No</th>
								<th>Customer Name</th>
								<th>Status</th>
								<th>Price</th>
								<th>Paid</th>
								<th>Taken Time</th>
								<th>Finish Time</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order: ${allOrders}">
								<td th:text="${order.id}"></td>
								<td th:text="${order.customer.name}"></td>
								<td><a th:text="${order.status}?'Delivered':'Not Ready'" th:href="@{finishOrder-{id}(id=${order.id})}"></a></td>
								<td th:text="${order.price}"></td>
								<td><a th:text="${order.paid} ? 'Paid':'Not Paid'"  th:href="@{paidOrder-{id}(id=${order.id})}"></a></td>
								<td th:text="${order.orderstarttime}"></td>
								<td th:text="${order.orderfinishtime}"></td>
							</tr>
						</tbody>
					</table>
					
					<div>
					<a th:href="@{new}"> Take New Order</a>
					</div>
	</div>
</body>
</html>

<!-- https://progressive-code.com/post/10/Simple-Spring-Boot-CRUD-application-with-Thymeleaf,-JPA-and-Bootstrap -->
