<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gypsy Kitchen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
	<div>
		<h2>Welcome to Gypsy Kitchen</h2>
	</div>

	<div>
		<h3>
			<a th:href="@{order/new}"> Waier's Screen</a>
			<p>Take Order</p>
		</h3>
	</div>

	<div>
		<h3>
			<a th:href="@{items}"> Chef's Screen</a>
			<p>Current Items to be made</p>
		</h3>
	</div>

	<div>
		<h3>
			<a th:href="@{order}"> Manager's Screen</a>
			<p>Current order List</p>
		</h3>
	</div>
	<div>
		<h3>
			<a th:href="@{order/1}"> Manager's Screen 2</a>
			<p>All orders List</p>
		</h3>
	</div>


<hr/>
<div>
<!--  
https://spring.io/guides/gs/validating-form-input/
https://docs.spring.io/autorepo/docs/spring-boot/1.1.8.RELEASE/api/org/springframework/boot/autoconfigure/EnableAutoConfiguration.html
ViewControllerRegistry in spring boot
https://stackoverflow.com/questions/10413886/what-is-the-use-of-bindingresult-interface-in-spring-mvc
https://dzone.com/articles/what-is-spring-boot-auto-configuration

 --></div>

</body>
</html>
