<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gypsy Kitchen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
table {
	border-collapse: solid;
}

table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<h3>Menu Card</h3>

	<br></br>
	<form action="#" th:action="@{/product}" th:object="${product}"
		method="post">
		<p>
			<input type="hidden" th:field="*{id}" />
		</p>
		<p>
			Product Name: <input type="text" th:field="*{name}" />
		</p>
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
			Error</span>
		<p>
			Product Price: <input type="number" th:field="*{price}" />
		</p>
		<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">prod
			Error</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>


	<br></br>
	<div>
		<table>
			<thead>
				<tr>
					<th>Product No</th>
					<th>Product</th>
					<th>Price</th>
					<th>Modify</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod: ${allProducts}">
					<td th:text="${prod.id}"></td>
					<td th:text="${prod.name}"></td>
					<td th:text="${prod.price}"></td>
					<td><a th:href="@{/product/{id}(id=${prod.id})}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>

<!-- https://progressive-code.com/post/10/Simple-Spring-Boot-CRUD-application-with-Thymeleaf,-JPA-and-Bootstrap -->